/******************************************************************************
Title: Bicycle Shop Web Page external CSS page
Use: External CSS page for use with the bicycle shop website
Author: Braden Young
School/Term: Southern Illinois University, Fall 2022
Developed: Aug 30, 2022
Tested: Aug 30, 2022; Passed on Edge and Chrome browsers.
*******************************************************************************/
/*Sets the whole page to .5% margin*/
html{
    margin: .5%;
}

/*Sets the width of the body to 100%, and also sets background to light gray*/
body { !important;
    background: lightgray;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*Sets the font size, the color, and the padding of the headers*/
header {
    font-size: 175%;
    color: navy;
    padding: 1%;
}

h2 {
    font-size: 125%;
    margin-bottom: 2%;
    clear: both;
}

/*Sets the font size, and the padding of the paragraphs*/
p{
    font-size: 150%;
    padding-left: 1%;
    padding-right: 1%;
}

/*Sets the font size, and the padding of the list*/
li{
    font-size: 150%;
    padding-left: .5%;
}

.headerClass{
    text-align: center;
    font-size: 50%;
}

/*Sets the border, and position of the one current image, using a class for the current image*/
#Image {
    border: thick solid blue;
    border-radius: 2.5%;
    position: relative;
    left: 2.5%;
    top: 15px;
    width: 75%;
}


/*Includes CSS for the two column page below. Note that several special classes had to be made to accommodate
for the column page*/

/*Sets the font size for the header class, to make sure both columns headers remained uniform in size*/
.headerColumnClass{
    font-size: xx-large;
}

/*Sets the width of the images in the columns*/
.ImageColumn{
    width: 90%;
}

/*Sets the parameters of the body in the rental page*/
.bodyColumn {
    width: 95%;
    margin: auto;
    background: lightgray;
    border: 2px solid black;
}

/*Sets the parameters of the header of the columns*/
.headerColumn {
    border-bottom: 2px solid black;
    text-align: center;
    color: black;
}

/*The parameters for the left column*/
.leftColumn {
    width: 50%;
    height: auto;
    border-right: 2px solid black;
    float: left;
    text-align: center;
}

/*The parameters for the right column. The width is set at 49, so it does not collide with the other column*/
aside {
    width: 49%;
    float: right;
    text-align: center;

}

/*The parameters for the bottom footer*/
footer {
    clear: both;
    border-top: 2px solid black;
}

/*The following CSS is for the navigation menu*/

/*CSS for the nav menu ul*/
#nav_menu ul {
    margin: auto;
    font-size: 50%;
    padding: 1%;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 90%;
}

/*CSS for the nav menu li*/
#nav_menu li {
    display: inline;
    padding: 5%;
}

/*CSS for the nav menu links*/
#nav_menu a {
    color: navy;
}

/*CSS for the current nav menu selection*/
#nav_menu .current {
    text-decoration: none;
}

#mobile_menu{
    display: none;
}

@media only screen and (max-width: 767px) {
    /* #nav_menu is the original menu */
    #nav_menu {
        display: none;
    }

    #mobile_menu{
        display: block;
    }

    #Image{
        width: 90%
    }
    header{
        font-size: 150%;
    }
    html{
        padding-right: 2%;
    }
    aside {
        height: auto;
        border-left: 2px solid black;
        width: 50%;
    }
    .leftColumn { !important;
        width: 49%;
        height: auto;
        float: left;
        border-right: none;
        text-align: center;
    }
    .headerColumn {
        font-size: 100%;
    }

}

@media only screen and (min-width: 767px) {
    html{
        margin: .5%;
    }



}
